doctype html
//if lt IE 7
//if IE 7
//if IE 8
//if gt IE 8
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Karibu Groceries Ltd
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='css/page-style.css')
  link(rel='stylesheet' href='')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
.landing-page
  .form
    h1 KGL Login
    // Try to use validation in js for role
    // <input type="text" placeholder="name"/>
    form#loginform(action='/' method='post' onsubmit='return loginValidation()')
      .input-control
        label(for='email') 
        input#email(type='email' name='email' placeholder='Username')
        i.fa-solid.fa-circle-check
        i.fa-solid.fa-circle-exclamation
        p
      .input-control
        label(for='password') 
        input#password(type='password' name='password' placeholder='Employee password')
        i.fa-solid.fa-circle-check
        i.fa-solid.fa-circle-exclamation
        p
      button.btn(type='submit') login
  // footer section
  .footer-section
    p Copyright &copy; Karibu Groceries | Developed by Jeiff
script(src='js/login.js' async='' defer='')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous')
