doctype html
//if lt IE 7
//if IE 7
//if IE 8
//if gt IE 8
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title KGL Produce Procurement
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='css/style.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
// Navigation section
nav
  ul
    li
      a(href='/dashboard') Dashboard
    li
      a(href='/creditsales') Credit Form
    li
      a(href='/cashsales') Cash Sales Form
    //- li
    //-   a(href='/procurement') Admin
    //- li
    //-   a(href='/cashsalesreports') Reports
// form section
.container
  form.structure(action='/procurement' method='POST')
    .form-head.col-md-12
      h1
        | KGL
        br
        | PRODUCE PROCUREMENT
    // Section one
    .form-row
      .form-group.col-md-3
        //- label(for='inputprodname') Name of Item
        input#inputprodname.form-control(type='text' name='prodname' placeholder='Enter name of Item')
      .form-group.col-md-3
        //- label(for='inputprodtype') Type of Item
        input#inputprodtype.form-control(type='text' name='prodtype' placeholder='Enter Type of Item')
      .form-group.col-md-3
        //- label(for='inputprocdate') Date of Procurement
        input#inputprocdate.form-control(type='date' name='date' placeholder='')
      .form-group.col-md-3
        //- label(for='inputproctime') Time of Procurement
        input#inputproctime.form-control(type='time' name='time' placeholder='')
    // Section two
    .form-row
      .form-group.col-md-3
        //- label(for='inputprodcost') Cost
        input#inputprodcost.form-control(type='number' name='prodcost' placeholder='Enter Cost of Item')
      .form-group.col-md-3
        //- label(for='inputtonnage') Weight in Kilograms
        input#inputtonnage.form-control(type='number' name='tonnage' placeholder='Enter kgs of produce')
      .form-group.col-md-3
        //- label(for='inputitemprice') Dealers&apos; Name
        input#inputdealername.form-control(type='text' name='dealername' placeholder='Enter name of Dealer')
      .form-group.col-md-3
        //- label(for='inputdealercontact') Buyer Contact
        input#inputdealercontact.form-control(type='number' name='dealercontact' placeholder='Enter Contact of Dealer')
      // Section three
      .form-group.col-md-6
        //- label(for='inputitemprice') Price of Item
        input#inputitemprice.form-control(type='number' name='itemprice' placeholder='Enter Item Price')
      .form-group.col-md-6
        //- label(for='inputbranchname') Name of Branch
        input#inputbranchname.form-control(type='text' name='branchname' placeholder='Enter Name of Branch')
    button.btn(type='submit') Add Produce
// Footer section
//
  <div class="main-footer">
  <p>Developed by Jeiff</p>
  </div>
script(src='' async='' defer='')
