doctype html

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Password Reset
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/css/page-style.css')
.landing-page
  .form
    h1 Reset User Password
    form.new-agent-form
      input(type='email' name="email" placeholder='Username')
      input(type='password' name="password" placeholder='New Password')
      input(type='password2' name="password2" placeholder='Confirm Password')
      button reset
  // footer section
  .footer-section
    p Copyright &copy; Karibu Groceries | Developed by Jeiff
script(src='./script.js' async='' defer='')
