doctype html
//if lt IE 7
//if IE 7
//if IE 8
//if gt IE 8
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Dashboard Template
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='css/style.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')

// Navigation section
nav
  ul
    li
      a(href='./dashtemp.html') Dashboard
    li
      a(href='./procred-form.html') Credit Form
    li
      a(href='./prosales-form.html') Cash Sales Form
    li
      a(href='./propro-form.html') Admin
    li
      a(href='') Reports
.landing-page
  .container 
    h1 #{message}
// form section
// Footer section
.main-footer
  p Developed by Jeiff
script(src='' async='' defer='')
