body{
    background-color: transparent;
}
.popup{
   width:200px;
   background:#2bb18d;
   border-radius: 6px;
   position: absolute;
   top: 0%;
   left: 50%;
   transform: translate(-50%,-50%) scale(0.1); 
   text-align: center;
   padding: 0 30px 30px;
   color: #333;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   visibility: hidden;
   transition: transform 0.4s, top 0.4s;
}

.popup h2{
    font-size: 25px;
    font-weight: 500px;
}
.popup p{
    font-size: 20px;
    font-weight: 200px;
}

.popup button{
    width: 50%;
    padding: 10px 0;
    background: #006B54;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border: none;

}